# Define o arquivo padrão a ser servido quando um diretório é solicitado.
DirectoryIndex index.php

# Redireciona todas as requisições que não são para um arquivo ou diretório existente
# para o nosso Front Controller (index.php).
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]