# Habilita o motor de reescrita de URLs
RewriteEngine On

# Define o caminho base para projetos em subpastas
RewriteBase /marchef/public/

# ----------------------------------------------------------------------
# REGRA 1: Redirecionar acesso direto a todos os scripts .php
# Exceto aos controladores e ao instalador.
# ----------------------------------------------------------------------
RewriteCond %{THE_REQUEST} \.php
RewriteCond %{REQUEST_URI} !/index\.php$ [NC]
RewriteCond %{REQUEST_URI} !/ajax_router\.php$ [NC]
RewriteCond %{REQUEST_URI} !/api\.php$ [NC]
RewriteCond %{REQUEST_URI} !/installer\.php$ [NC]
RewriteCond %{REQUEST_URI} !/installer_ajax\.php$ [NC]
RewriteRule .* /marchef/public/ [R=301,L]

# ----------------------------------------------------------------------
# REGRA 2: Roteamento de URLs para o Controlador Frontal
# ----------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]
